@charset "UTF-8";
/* TIPOGRAFÍAS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #212121;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  color: #212121;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: #1B1F23;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #212121;
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #2C3246;
}

main div p, p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  color: #3D465B;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 0.5rem;
}

/* TIPOGRAFÍA TABLET */
@media (max-width: 1240px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
/* ELEVATION */
.box-planes, .box-proyectos-section, .box-testimonios, .box-servicios-mobile, .box-servicios-main, .box-nosotros-mobile, .box-nosotros-main, .box-proyectos-mobile, .boton-main-1 {
  box-shadow: 0px 2px 4px rgba(27, 31, 35, 0.04);
}

.boton-main-2:hover, .boton-main-1:hover {
  box-shadow: 0px 4px 8px rgba(27, 31, 35, 0.12);
}

/* POSITION */
.nosotros-display, .display-row-center, header nav div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.display-row-between, main, footer div, header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.display-row-start, main div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

main div, .display-categorias2, .display-categorias {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

/* SPACING */
section, main {
  padding: 6rem 10rem;
}

aside {
  padding: 4rem 10rem;
}

.margen-parrafo {
  margin-bottom: 3rem;
}

/* SPACING TABLET */
@media (max-width: 1240px) {
  section, main {
    padding: 6rem 5rem;
  }

  aside {
    padding: 4rem 5rem;
  }
}
/* BOTONES */
.boton-main-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: #50A8EA;
  border-radius: 4px;
}

.boton-main-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #FFFFFF;
  border-radius: 4px;
}

.boton-main-texto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.boton-main-texto-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #212121;
}

.boton-main-texto-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #2D5F85;
}

/* TIPOGRAFÍAS */
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #212121;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  color: #212121;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: #1B1F23;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #212121;
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #2C3246;
}

main div p, p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  color: #3D465B;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 0.5rem;
}

/* TIPOGRAFÍA TABLET */
@media (max-width: 1240px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
/* ELEVATION */
.box-planes, .box-proyectos-section, .box-testimonios, .box-servicios-mobile, .box-servicios-main, .box-nosotros-mobile, .box-nosotros-main, .box-proyectos-mobile, .boton-main-1 {
  box-shadow: 0px 2px 4px rgba(27, 31, 35, 0.04);
}

.boton-main-2:hover, .boton-main-1:hover {
  box-shadow: 0px 4px 8px rgba(27, 31, 35, 0.12);
}

/* POSITION */
.nosotros-display, .display-row-center, header nav div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.display-row-between, main, footer div, header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.display-row-start, main div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

main div, .display-categorias2, .display-categorias {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

/* SPACING */
section, main {
  padding: 6rem 10rem;
}

aside {
  padding: 4rem 10rem;
}

.margen-parrafo {
  margin-bottom: 3rem;
}

/* SPACING TABLET */
@media (max-width: 1240px) {
  section, main {
    padding: 6rem 5rem;
  }

  aside {
    padding: 4rem 5rem;
  }
}
/* BOTONES */
.boton-main-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: #50A8EA;
  border-radius: 4px;
}

.boton-main-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #FFFFFF;
  border-radius: 4px;
}

.boton-main-texto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.boton-main-texto-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #212121;
}

.boton-main-texto-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #2D5F85;
}

header {
  background-color: #2C3246;
  padding: 4rem 10rem 2rem 10rem;
}
header nav div ul {
  gap: 1rem;
}
header nav div ul li {
  list-style: none;
  display: flex;
  justify-items: center;
}

.text-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.text-link:hover {
  color: #9195A0;
}

@media (max-width: 1080px) {
  #menuhamburguesa, #menuhamburguesa-nosotros, #menuhamburguesa-servicios,
#menuhamburguesa-proyectos, #menuhamburguesa-empeza {
    display: block;
  }

  #nav-index, #nav-nosotros, #nav-servicios, #nav-proyectos, #nav-empeza {
    display: none;
  }
}
/* TIPOGRAFÍAS */
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #212121;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  color: #212121;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: #1B1F23;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #212121;
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #2C3246;
}

main div p, p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  color: #3D465B;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 0.5rem;
}

/* TIPOGRAFÍA TABLET */
@media (max-width: 1240px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
/* ELEVATION */
.box-planes, .box-proyectos-section, .box-testimonios, .box-servicios-mobile, .box-servicios-main, .box-nosotros-mobile, .box-nosotros-main, .box-proyectos-mobile, .boton-main-1 {
  box-shadow: 0px 2px 4px rgba(27, 31, 35, 0.04);
}

.boton-main-2:hover, .boton-main-1:hover {
  box-shadow: 0px 4px 8px rgba(27, 31, 35, 0.12);
}

/* POSITION */
.nosotros-display, .display-row-center, header nav div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.display-row-between, main, footer div, header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.display-row-start, main div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

main div, .display-categorias2, .display-categorias {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

/* SPACING */
section, main {
  padding: 6rem 10rem;
}

aside {
  padding: 4rem 10rem;
}

.margen-parrafo {
  margin-bottom: 3rem;
}

/* SPACING TABLET */
@media (max-width: 1240px) {
  section, main {
    padding: 6rem 5rem;
  }

  aside {
    padding: 4rem 5rem;
  }
}
/* BOTONES */
.boton-main-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: #50A8EA;
  border-radius: 4px;
}

.boton-main-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #FFFFFF;
  border-radius: 4px;
}

.boton-main-texto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.boton-main-texto-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #212121;
}

.boton-main-texto-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #2D5F85;
}

footer {
  background-color: #2C3246;
  padding: 3rem 10rem 4rem 10rem;
}
footer div span {
  display: none;
}
footer div span div {
  margin-bottom: 2rem;
}
footer div div a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.2rem 0;
}
footer div div a:hover {
  color: #9195A0;
}
footer div div ul li {
  list-style: none;
  padding: 0 0.5rem 0 0.5rem;
}
footer div div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
footer div div h4 {
  color: #FFFFFF;
}

.display-footer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.display-redes {
  display: flex;
  gap: 0.5rem;
}

.p-wrap {
  display: flex;
  flex-wrap: wrap;
}

.logo-mobile {
  display: none;
}

@media (max-width: 1240px) {
  .display-redes {
    flex-direction: column;
  }
}
@media (max-width: 890px) {
  footer div span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #empresa-index, #recursos-index,
#empresa-nosotros, #recursos-nosotros,
#empresa-servicios, #recursos-servicios,
#empresa-proyectos, #recursos-proyectos,
#empresa-empeza, #recursos-empeza {
    display: none;
  }
}
@media (max-width: 670px) {
  .logo-mobile {
    display: block;
  }

  .logo-footer {
    display: none;
  }
}
/* TIPOGRAFÍAS */
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #212121;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  color: #212121;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: #1B1F23;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #212121;
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #2C3246;
}

main div p, p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  color: #3D465B;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 0.5rem;
}

/* TIPOGRAFÍA TABLET */
@media (max-width: 1240px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
/* ELEVATION */
.box-planes, .box-proyectos-section, .box-testimonios, .box-servicios-mobile, .box-servicios-main, .box-nosotros-mobile, .box-nosotros-main, .box-proyectos-mobile, .boton-main-1 {
  box-shadow: 0px 2px 4px rgba(27, 31, 35, 0.04);
}

.boton-main-2:hover, .boton-main-1:hover {
  box-shadow: 0px 4px 8px rgba(27, 31, 35, 0.12);
}

/* POSITION */
.nosotros-display, .display-row-center, header nav div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.display-row-between, main, header nav, footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.display-row-start, main div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

main div, .display-categorias, .display-categorias2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

/* SPACING */
section, main {
  padding: 6rem 10rem;
}

aside {
  padding: 4rem 10rem;
}

.margen-parrafo {
  margin-bottom: 3rem;
}

/* SPACING TABLET */
@media (max-width: 1240px) {
  section, main {
    padding: 6rem 5rem;
  }

  aside {
    padding: 4rem 5rem;
  }
}
/* BOTONES */
.boton-main-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: #50A8EA;
  border-radius: 4px;
}

.boton-main-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #FFFFFF;
  border-radius: 4px;
}

.boton-main-texto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.boton-main-texto-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #212121;
}

.boton-main-texto-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #2D5F85;
}

/* MAIN */
main {
  background-color: #2C3246;
}
main div {
  width: 50%;
}
main div p {
  margin-bottom: 2rem;
}
main div div a {
  margin-right: 1rem;
}
main div h1 {
  color: #ffffff;
}

.parrafo-claro {
  color: #D4D4D4;
}

/* BOTONES */
.boton-main-1:hover {
  background-color: #3F84B8;
}

.boton-main-2:hover {
  background-color: #f9f9f9;
}

/* FLEX */
.display-row-center {
  gap: 2rem;
}

.display-row-between {
  gap: 2rem;
}

.display-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.display-index-main-none {
  display: none;
}

/* ESTADÍISTICAS PROYECTOS */
.background-section {
  background-color: #F2F2F2;
}

.background-section-2 {
  background-color: white;
}

/* SECCIÓN SERVICIOS */
.box-servicios {
  background-color: #F2F2F2;
  border-radius: 1rem;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box-servicios span img {
  padding-left: 3rem;
  padding-top: 3rem;
}
.box-servicios div {
  padding: 1rem 3rem 3rem 3rem;
}
.box-servicios div p {
  font-size: 16px;
}

.margin-64 {
  margin-bottom: 4rem;
}

/* SECCIÓN FAQ */
.box-faq {
  width: 33%;
}
.box-faq div h3 {
  margin-bottom: 0.5rem;
}
.box-faq span {
  margin-top: 1rem;
}
.box-faq span a {
  margin-right: 0.5rem;
}

/* SECCIÓN PROYECTOS */
.box-proyectos {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  border-radius: 16px;
  height: 256px;
  width: 50%;
}
.box-proyectos span {
  margin-right: 2rem;
}
.box-proyectos div {
  padding-right: 2rem;
}
.box-proyectos div span a {
  margin-right: 0.5rem;
}
.box-proyectos div p {
  margin-bottom: 1rem;
}

.box-proyectos-mobile {
  background-color: #F2F2F2;
  width: 331px;
  border-radius: 16px;
  margin-bottom: 4rem;
}
.box-proyectos-mobile div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.box-proyectos-mobile div p {
  margin-bottom: 1.5rem;
}
.box-proyectos-mobile div div {
  display: flex;
  justify-items: flex-start;
}

#proyectos-mobile {
  display: none;
}

/* RESPONSIVE */
#menuhamburguesa, #menuhamburguesa-nosotros, #menuhamburguesa-servicios,
#menuhamburguesa-proyectos, #menuhamburguesa-empeza {
  display: none;
}

@media (max-width: 1440px) {
  #proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-proyectos {
    width: 75%;
  }
}
@media (max-width: 1240px) {
  .display-index-main-none {
    display: block;
  }
}
@media (max-width: 1080px) {
  #proyectos, #servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-servicios, .box-faq {
    width: 50%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 890px) {
  #main, #faq, #stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main div {
    margin-bottom: 1.5rem;
  }

  #proyectos {
    display: none;
  }

  .box-servicios, .box-faq {
    width: 66%;
    margin-bottom: 1rem;
  }

  #ayuda {
    display: flex;
    justify-content: center;
  }

  #proyectos-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* TIPOGRAFÍAS */
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #212121;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  color: #212121;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: #1B1F23;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #212121;
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #2C3246;
}

p, main div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7rem;
  display: flex;
  align-items: center;
  color: #3D465B;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 0.5rem;
}

/* TIPOGRAFÍA TABLET */
@media (max-width: 1240px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
/* ELEVATION */
.box-planes, .box-proyectos-section, .box-testimonios, .box-servicios-mobile, .box-servicios-main, .box-nosotros-mobile, .box-nosotros-main, .boton-main-1, .box-proyectos-mobile {
  box-shadow: 0px 2px 4px rgba(27, 31, 35, 0.04);
}

.boton-main-1:hover, .boton-main-2:hover {
  box-shadow: 0px 4px 8px rgba(27, 31, 35, 0.12);
}

/* POSITION */
.nosotros-display, header nav div ul, .display-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

header nav, footer div, main, .display-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

main div div, .display-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.display-categorias, .display-categorias2, main div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

/* SPACING */
section, main {
  padding: 6rem 10rem;
}

aside {
  padding: 4rem 10rem;
}

.margen-parrafo {
  margin-bottom: 3rem;
}

/* SPACING TABLET */
@media (max-width: 1240px) {
  section, main {
    padding: 6rem 5rem;
  }

  aside {
    padding: 4rem 5rem;
  }
}
/* BOTONES */
.boton-main-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: #50A8EA;
  border-radius: 4px;
}

.boton-main-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #FFFFFF;
  border-radius: 4px;
}

.boton-main-texto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.boton-main-texto-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #212121;
}

.boton-main-texto-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #2D5F85;
}

/* NOSOTROS */
.titulo-nosotros {
  display: flex;
  align-items: center;
  text-align: center;
}

.nosotros-display {
  align-items: center;
}

.box-nosotros-main {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
  height: 404px;
  width: 100%;
  margin-bottom: 4rem;
}
.box-nosotros-main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.box-nosotros-main div span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.box-nosotros-main div p {
  margin-bottom: 2rem;
}

#nosotros-mobile, #servicios-mobile {
  display: none;
}

.box-nosotros-mobile {
  background-color: #FFFFFF;
  width: 512px;
  border-radius: 16px;
  margin-bottom: 4rem;
}
.box-nosotros-mobile div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.box-nosotros-mobile div p {
  margin-bottom: 1.5rem;
}
.box-nosotros-mobile div div {
  display: flex;
  justify-items: flex-start;
}

/* SERVICIOS */
.box-servicios-main {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
  height: 404px;
  width: 100%;
  margin-bottom: 4rem;
}
.box-servicios-main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.box-servicios-main div span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.box-servicios-main div p {
  margin-bottom: 2rem;
}

.box-servicios-mobile {
  background-color: #F2F2F2;
  width: 512px;
  border-radius: 16px;
  margin-bottom: 4rem;
}
.box-servicios-mobile div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.box-servicios-mobile div p {
  margin-bottom: 1.5rem;
}
.box-servicios-mobile div div {
  display: flex;
  justify-items: flex-start;
}

.box-servicios-section {
  background-color: #F2F2F2;
  border-radius: 1rem;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box-servicios-section span img {
  padding-left: 3rem;
  padding-top: 3rem;
}
.box-servicios-section div {
  padding: 1rem 3rem 3rem 3rem;
}
.box-servicios-section div p {
  font-size: 16px;
}

/* PROYECTOS */
.box-testimonios {
  background-color: #FFFFFF;
  width: 350px;
  border-radius: 16px;
}
.box-testimonios div {
  padding: 2rem;
}

.box-proyectos-section {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-radius: 16px;
  height: 256px;
  width: 50%;
  margin-bottom: 4rem;
}
.box-proyectos-section span {
  margin-right: 2rem;
}
.box-proyectos-section div {
  padding-right: 2rem;
}
.box-proyectos-section div span a {
  margin-right: 0.5rem;
}
.box-proyectos-section div p {
  margin-bottom: 1rem;
}

/* EMPEZA AHORA */
.display-planes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.box-planes {
  background-color: #3D465B;
  border-radius: 16px;
  padding: 3rem;
  width: 25%;
}
.box-planes h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}
.box-planes p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F2;
  margin-bottom: 2rem;
}
.box-planes h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.box-planes div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.box-planes div img {
  margin-right: 0.5rem;
}

.text-empezaahora {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.contratar-button {
  font-family: "Inter";
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: #FFFFFF;
}

/* RESPONSIVE */
@media (max-width: 1440px) {
  .box-proyectos-section {
    width: 75%;
  }
}
@media (max-width: 1240px) {
  .nosotros-display {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-testimonios {
    margin-bottom: 1rem;
  }

  #nosotros-mobile, #servicios-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nosotros-main, #servicios-main {
    display: none;
  }
}
@media (max-width: 1080px) {
  .box-planes {
    width: 50%;
  }

  #planes, #servicios-1, #servicios-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-servicios-section {
    width: 50%;
  }

  #titulo-servicios {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 890px) {
  .box-servicios-section {
    width: 66%;
  }
}
* {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
