@import "../base/extends";
@import "../base/variables";
@import "../base/listas";


/* MAIN */

main {
    @extend %row-between;
    div {
        @extend %column-start;
        p{
            @extend %cuerpo-1;
        }
        div {
            @extend %row-start;
            
        }
    }
}

.boton-main-1{
    @extend %boton-primary;
}
.boton-main-1:hover{
    background-color: nth($color-primario, 2);
    @extend %shadow-2;
}
.boton-main-2{
    @extend %boton-secundary;
}
.boton-main-2:hover{
    background-color: nth($color-neutro, 2);
    @extend %shadow-2;
}
.boton-main-texto{
    @extend %text-button;
}

/* SECTION 1 */

.display-row-center{
    @extend %row-center;
    gap: 2rem
}
.display-row-between{
    @extend %row-between;
    gap: 2rem
}
.cuerpo-texto{
    @extend %cuerpo-2;
}

.background-section{
    background-color: nth($color-neutro, 2);
}

.background-section-2{
    background-color: white;
}

.margen-parrafo{
    @extend %margin-bottom-32;
}

.margen-span-1{
    margin-top: 1rem;
}

/* SECTION 2 */

.alinear-centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.box-background{
    background-color: nth($color-neutro, 1);
    border-radius: 1rem;
}
.padding-box{
    padding: 3rem;
}
.padding-box-1{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.padding-img{
    padding: 1rem;
}

.display-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTION 3 */

.display-row-start{
    @extend %row-start;
}

.display-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.display-index-main-none{
    display: none;
}

#menuhamburguesa, #menuhamburguesa-nosotros, #menuhamburguesa-servicios, 
#menuhamburguesa-proyectos, #menuhamburguesa-empeza{
    display: none;
}

@media (max-width: 1240px){
    .display-index-main-none{
        display: block;
    }
    #index-main{
        display: none;
    }
    #proyectos, #servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

}

@media (max-width: 1080px){
    #menuhamburguesa, #menuhamburguesa-nosotros, #menuhamburguesa-servicios, 
    #menuhamburguesa-proyectos, #menuhamburguesa-empeza {
        display: block;
    }

    #nav-index, #nav-nosotros, #nav-servicios, #nav-proyectos, #nav-empeza{
        display: none;
    }
}

@media (max-width: 890px){
    #main, #faq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    main div {
        margin-bottom: 1.5rem;
    }

    .desaparecer, #stat1, #stat2{
        display: none;
    }
}

