@import "../base/extends";
@import "../base/variables";
@import "../base/listas";


/* NOSOTROS */

.titulo-nosotros{
    display: flex;
    align-items: center;
    text-align: center;
}

.nosotros-display{
    @extend %row-center;
    align-items: center;
}

.box-nosotros-main{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 16px;
    height: 404px;
    width: 100%;
    margin-bottom: 4rem;
    @extend %shadow-1;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        span {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        p {
            margin-bottom: 2rem;
        }
    }
}

#nosotros-mobile, #servicios-mobile{
    display: none;
}

.box-nosotros-mobile{
    background-color: #FFFFFF;
    width: 512px;
    border-radius: 16px;
    @extend %shadow-1;
    margin-bottom: 4rem;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        p{
            margin-bottom: 1.5rem;
        }
        div {
            display: flex;
            justify-items: flex-start;
        }
    }
}

/* SERVICIOS */

.box-servicios-main{
    background-color: nth($color-neutro, 1);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 16px;
    height: 404px;
    width: 100%;
    margin-bottom: 4rem;
    @extend %shadow-1;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        span {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        p {
            margin-bottom: 2rem;
        }
    }
}

.box-servicios-mobile{
    background-color: nth($color-neutro, 1);
    width: 512px;
    border-radius: 16px;
    @extend %shadow-1;
    margin-bottom: 4rem;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        p{
            margin-bottom: 1.5rem;
        }
        div {
            display: flex;
            justify-items: flex-start;
        }
    }
}

.box-servicios-section{
    background-color: nth($color-neutro, 1);
    border-radius: 1rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    span img {
        padding-left: 3rem;
        padding-top: 3rem;
    }
    div {
        padding: 1rem 3rem 3rem 3rem;
        p {
            font-size: 16px;
        }
    }
}

/* PROYECTOS */ 

.box-testimonios {
    background-color: #FFFFFF;
    width: 350px;
    border-radius: 16px;
    @extend %shadow-1;
    div {
        padding: 2rem;
    }
}

.box-proyectos-section{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 256px;
    width: 50% ;
    margin-bottom: 4rem;
    @extend %shadow-1;
    span {
        margin-right: 2rem;
    }
    div {
        padding-right: 2rem;
        span a {
            margin-right: 0.5rem;
        }
        p {
            margin-bottom: 1rem;
        }
    }
}

/* EMPEZA AHORA */


.display-planes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}
.box-planes{
    background-color: nth($color-black, 2);
    border-radius: 16px;
    padding: 3rem;
    width: 25%;
    @extend %shadow-1;
    h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: #FFFFFF;
    }
    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #F2F2F2;
        margin-bottom: 2rem;
    }
    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
    div {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        img {
            margin-right: 0.5rem;
        }
    }
}


.text-empezaahora{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;  

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.contratar-button{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-content: center;

    text-decoration: none;

    color: #FFFFFF;
}



/* RESPONSIVE */

@media (max-width: 1440px){
    .box-proyectos-section{
        width: 75%;
    }
}

@media (max-width: 1240px){
   .nosotros-display{
       display: flex;
       flex-direction: column;
       gap: 2rem;
   }

    #testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .box-testimonios {
        margin-bottom: 1rem;
    }

    #nosotros-mobile, #servicios-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nosotros-main, #servicios-main{
        display: none;
    }

    
}

@media (max-width: 1080px){
    .box-planes{
        width: 50%;
        
    }

    #planes, #servicios-1, #servicios-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-servicios-section{
        width: 50%;
    }

    #titulo-servicios{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 890px){
    .box-servicios-section{
        width: 66%;
    }
}